PUBLIC_HTTP_PORT=
PUBLIC_HTTP_CORS_ORIGIN=
PUBLIC_HTTP_CORS_METHODS=
PUBLIC_HTTP_CORS_MAX_AGE=
PUBLIC_HTTP_CORS_ALLOW_HEADERS=

PUBLIC_COOKIE_SECRET=
PUBLIC_COOKIE_SAMESITE=

PUBLIC_JSON_MAX_BODY_SIZE=

PUBLIC_JWT_ACCESS_SECRET=
PUBLIC_JWT_ACCESS_DURATION=
PUBLIC_JWT_REFRESH_SECRET=
PUBLIC_JWT_REFRESH_DURATION=

PUBLIC_DB_USER=
PUBLIC_DB_PASSWORD=
PUBLIC_DB_NAME=
PUBLIC_DB_PORT=
PUBLIC_DB_HOST=
